In [ ]:
!pip install pandas==1.1.5 numpy==1.19.4 scipy==1.5.4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas==1.1.5
  Downloading pandas-1.1.5-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 4.2 MB/s
Collecting numpy==1.19.4
  Downloading numpy-1.19.4-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 25.1 MB/s
Collecting scipy==1.5.4
  Downloading scipy-1.5.4-cp37-cp37m-manylinux1_x86_64.whl (25.9 MB)
     |████████████████████████████████| 25.9 MB 55.7 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.1.5) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.5) (1.15.0)
Installing collected packages: numpy, scipy, pandas
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray-einstats 0.2.2 requires numpy>=1.21, but you have numpy 1.19.4 which is incompatible.
tensorflow 2.8.2+zzzcolab20220527125636 requires numpy>=1.20, but you have numpy 1.19.4 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed numpy-1.19.4 pandas-1.1.5 scipy-1.5.4

In [ ]:
!pip install websockets>=9.0

In [ ]:
!pip install alpaca-trade-api

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting alpaca-trade-api
  Downloading alpaca_trade_api-2.2.0-py3-none-any.whl (33 kB)
Collecting websocket-client<2,>=0.56.0
  Downloading websocket_client-1.3.2-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 2.7 MB/s
Collecting aiohttp==3.8.1
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 6.7 MB/s
Collecting deprecation==2.1.0
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Collecting PyYAML==6.0
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 38.5 MB/s
Requirement already satisfied: urllib3<2,>1.24 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.24.3)
Collecting msgpack==1.0.3
  Downloading msgpack-1.0.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (299 kB)
     |████████████████████████████████| 299 kB 49.0 MB/s
Requirement already satisfied: websockets<11,>=9.0 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (10.3)
Requirement already satisfied: requests<3,>2 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (2.23.0)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.19.4)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from alpaca-trade-api) (1.1.5)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.8.1->alpaca-trade-api) (4.1.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.8.1->alpaca-trade-api) (21.4.0)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 44.1 MB/s
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 38.2 MB/s
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 2.1 MB/s
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp==3.8.1->alpaca-trade-api) (2.0.12)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from deprecation==2.1.0->alpaca-trade-api) (21.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->alpaca-trade-api) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18.1->alpaca-trade-api) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>2->alpaca-trade-api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>2->alpaca-trade-api) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>2->alpaca-trade-api) (3.0.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->deprecation==2.1.0->alpaca-trade-api) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, websocket-client, PyYAML, msgpack, deprecation, aiohttp, alpaca-trade-api
  Attempting uninstall: PyYAML
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: msgpack
    Found existing installation: msgpack 1.0.4
    Uninstalling msgpack-1.0.4:
      Successfully uninstalled msgpack-1.0.4
Successfully installed PyYAML-6.0 aiohttp-3.8.1 aiosignal-1.2.0 alpaca-trade-api-2.2.0 async-timeout-4.0.2 asynctest-0.13.0 deprecation-2.1.0 frozenlist-1.3.0 msgpack-1.0.3 multidict-6.0.2 websocket-client-1.3.2 yarl-1.7.2

In [ ]:
import pandas as pd

In [ ]:
import alpaca_trade_api as tradeapi

# API Info for fetching data, portfolio, etc. from Alpaca
BASE_URL = "https://paper-api.alpaca.markets"
ALPACA_API_KEY = "PKZBF19BMWCUWI0SA9E3"
ALPACA_SECRET_KEY = "uX2AdG5eqYzu80wf5PsjbrbvFoKR9NOx2iuDQHfP"

# Instantiate REST API Connection
api = tradeapi.REST(key_id=ALPACA_API_KEY, secret_key=ALPACA_SECRET_KEY, 
                    base_url=BASE_URL, api_version='v2')

In [ ]:
def get_proj_ret(df):
  df['Proj_Returns'] = (3*(d1['Open_Change'].values-1)+1)

  return df

In [ ]:
def get_percent_ret(df):
  df['Open_Change'] = (df['open'].values) / df['open'].iloc[0]

  return df

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from alpaca_trade_api.rest import REST, TimeFrame, TimeFrameUnit

In [ ]:
def blaghify(date, tick, levtick):
  d1 = api.get_bars(tick, TimeFrame(1, TimeFrameUnit.Minute), date, date, adjustment='raw').df

  if(len(d1) == 0):
    return -1
  d2 = api.get_bars(levtick, TimeFrame(1, TimeFrameUnit.Minute), date, date, adjustment='raw').df

  #get bar data for both instruments

  date2 = pd.to_datetime(date)
  ninethrity = date2.replace(hour=9, minute=30, second=0, microsecond=0)
  four = date2.replace(hour=16, minute=0, second=0, microsecond=0)
  over_d1 = d1[d1.index.isin(d2.index.values)]
  over_d2 = d2[d2.index.isin(d1.index.values)]
  over_d1 = over_d1[over_d1.index.values >= ninethrity]
  over_d1 = over_d1[over_d1.index.values <= four]

  over_d2 = over_d2[over_d2.index.values >= ninethrity]
  over_d2 = over_d2[over_d2.index.values <= four]

  #filter by time and overlap
  d1, d2 = get_percent_ret(over_d1), get_percent_ret(over_d2)
  blagh = (d2['Open_Change'].values)/(3*(d1['Open_Change'].values-1)+1)
  #get theoretical degree of divergence between unlevered and 3x levered instrument
  return blagh, d1, d2

In [ ]:
tick = "SPY"
levtick = "UPRO"

In [ ]:
def running_mean_std(x):
    serx = pd.Series(x)
    mean = list(serx.rolling(10, min_periods=1).mean())
    std = list(serx.rolling(10, min_periods=1).std())
    #mean.insert(0, serx[0])
    #std.insert(0, 0)
    return np.array(mean), np.array(std)

In [ ]:
def run_strategy(date, tick, levtick):

  #initialize vars
  i=0
  netprophet = 0
  netexposure = 0

  wincount = 0
  numarbs = 0

  maxcapital = 0
  blagh, d1, d2 = blaghify(date, tick, levtick)
  runmean, runstd = running_mean_std(blagh)
  divergence = blagh[i] - runmean[i]
  while(i < min(200, len(blagh)-1)):
    if(divergence > 0):
      numarbs+=1
      #implies upro too high
      upro = 0
      spy = 3
      uprice = d2['open'].iloc[i]
      sprice = d1['open'].iloc[i]

      #calculate quantity of upro to buy relative to amount of spy
      upro = spy*sprice/3
      upro = upro/uprice
      upro = -1*int(upro)

      pricepaid = sprice*spy+upro*uprice 
      lever_aj_price = sprice*spy + upro*uprice*3
      netexposure += (sprice*spy + abs(upro*uprice))
      if((abs(sprice*spy) + abs(upro*uprice)) > maxcapital):
        maxcapital = (sprice*spy + abs(upro*uprice))

      while(divergence > 0 and i < len(blagh)-1):
        i+=1
        divergence = blagh[i] - runmean[i]

      #update price once divergence corrected, sell instruments and check profit
      uprice = d2['open'].iloc[i]
      sprice = d1['open'].iloc[i]
      pricesold = sprice*spy + upro*uprice
      netprophet += pricesold-pricepaid
      
      if(pricesold > pricepaid):
        wincount+=1

    if(divergence < 0):
      #same concept but now SPY too high
      numarbs+=1
      #implies spy too high
      upro = 0
      spy = -3
      uprice = d2['open'].iloc[i]
      sprice = d1['open'].iloc[i]

      upro = spy*sprice/3
      upro = upro/uprice
      upro = -1*int(upro)

      pricepaid = sprice*spy+upro*uprice #sprice is cost, upro*uprice is benefit
      netexposure += (abs(sprice*spy) + abs(upro*uprice))
      lever_aj_price = sprice*spy + upro*uprice*3

      if((abs(sprice*spy) + abs(upro*uprice)) > maxcapital):
        maxcapital = (abs(sprice*spy) + abs(upro*uprice))

      while(divergence < 0 and i < len(blagh)-1):
        i+=1
        divergence = blagh[i] - runmean[i]

      uprice = d2['open'].iloc[i]
      sprice = d1['open'].iloc[i]
      pricesold = sprice*spy + upro*uprice
      netprophet += pricesold-pricepaid

      if(pricesold > pricepaid):
        wincount+=1 

    else:
      i+=1
      if(i == len(blagh)):
        break
      divergence = blagh[i] - runmean[i]
      #print(i)
      #print()
  return netprophet, netexposure, wincount/numarbs, maxcapital

In [ ]:
run_strategy("2022-05-03", "SPY", "UPRO")

(22.693000000003167, 161363.59890000004, 0.9090909090909091, 1641.2)

In [ ]:
#checks the method on a month of data for a whole lot of leveraged-unleveraged pairs

netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "SPY"
levtick = "UPRO"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 SPY UPRO
25.733599999999115 153607.90580000004 0.8947368421052632 1634.9199999999998
2022-05-03 SPY UPRO
22.693000000003167 161363.59890000004 0.9090909090909091 1641.2
2022-05-04 SPY UPRO
17.847399999997492 167356.7759 0.9705882352941176 1652.03
2022-05-05 SPY UPRO
26.111800000000244 158477.5109 0.9680851063829787 1700.9500000000003
2022-05-06 SPY UPRO
34.848300000001814 160611.16280000005 0.92 1624.9299999999998
2022-05-09 SPY UPRO
43.40159999999946 143546.62140000003 0.9775280898876404 1623.6
2022-05-10 SPY UPRO
31.669799999998645 161736.35250000007 1.0 1620.27
2022-05-11 SPY UPRO
22.259400000002643 133641.20789999998 0.9642857142857143 1610.8799999999999
2022-05-12 SPY UPRO
36.64080000000126 155595.25560000003 0.9705882352941176 1536.2400000000002
2022-05-13 SPY UPRO
29.748599999999897 160304.71560000008 0.9705882352941176 1592.9099999999999
2022-05-16 SPY UPRO
35.97480000000064 179231.28719999993 0.9911504424778761 1597.9791
2022-05-17 SPY UPRO
21.305399999998713 150741.63330000002 0.978494623655914 1629.9
2022-05-18 SPY UPRO
18.629999999999427 157581.0815999999 0.9693877551020408 1627.35
2022-05-19 SPY UPRO
32.682399999999234 119600.26099999991 0.9487179487179487 1552.89
2022-05-20 SPY UPRO
18.124600000001806 150873.50350000008 0.9183673469387755 1553.3799999999999
2022-05-23 SPY UPRO
25.737599999998338 144933.96540000013 0.925531914893617 1549.3199999999997
2022-05-24 SPY UPRO
18.569999999997208 133937.7784 0.9655172413793104 1555.01
2022-05-25 SPY UPRO
22.781999999998106 140805.05099999995 0.9560439560439561 1566.0149999999999
2022-05-26 SPY UPRO
19.994999999998072 149094.9429 0.9361702127659575 1604.07
2022-05-27 SPY UPRO
19.156399999998712 156898.04979999998 0.9175257731958762 1638.54
2022-05-31 SPY UPRO
24.800799999998162 159494.24360000007 0.9191919191919192 1641.51

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

1.6256296188355708

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "QQQ"
levtick = "TQQQ"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 QQQ TQQQ
21.909799999998995 131790.49950000003 0.9626168224299065 1241.92
2022-05-03 QQQ TQQQ
18.806199999998398 129692.33729999994 0.9902912621359223 1267.07
2022-05-04 QQQ TQQQ
13.746000000000663 116658.81040000002 0.9347826086956522 1272.27
2022-05-05 QQQ TQQQ
14.15839999999855 120750.69110000004 0.8947368421052632 1303.04
2022-05-06 QQQ TQQQ
20.397599999998306 116815.36480000002 0.9270833333333334 1231.07
2022-05-09 QQQ TQQQ
21.30239999999958 112669.26779999999 0.9468085106382979 1208.1
2022-05-10 QQQ TQQQ
17.277000000000612 107019.22650000005 0.9444444444444444 1198.32
2022-05-11 QQQ TQQQ
13.528200000001107 103818.84090000002 0.9418604651162791 1214.73
2022-05-12 QQQ TQQQ
27.133399999996982 115366.90230000002 0.9603960396039604 1153.07
2022-05-13 QQQ TQQQ
17.172600000000102 103218.34950000004 0.9325842696629213 1165.83
2022-05-16 QQQ TQQQ
17.52840000000117 107701.4874 0.945054945054945 1194.45
2022-05-17 QQQ TQQQ
15.64019999999664 113263.76309999998 0.9468085106382979 1211.91
2022-05-18 QQQ TQQQ
12.480599999998276 111259.0047 0.956989247311828 1208.13
2022-05-19 QQQ TQQQ
22.575999999998203 104137.90800000002 0.9456521739130435 1141.5
2022-05-20 QQQ TQQQ
13.885799999999222 106369.54790000008 0.978021978021978 1172.54
2022-05-23 QQQ TQQQ
21.293399999998883 110524.71929999998 0.96875 1157.62
2022-05-24 QQQ TQQQ
14.783999999998628 107000.12200000002 0.9574468085106383 1143.53
2022-05-25 QQQ TQQQ
19.735999999998057 111345.74799999999 0.9191919191919192 1133.27
2022-05-26 QQQ TQQQ
19.121399999996584 121396.33430000005 0.9619047619047619 1163.97
2022-05-27 QQQ TQQQ
14.530199999999809 114540.41009999998 0.9175257731958762 1192.5
2022-05-31 QQQ TQQQ
18.6804000000011 102708.42240000001 0.9642857142857143 1230.69

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

0.01968871503376096

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "IWM"
levtick = "TNA"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 IWM TNA
13.910199999997985 86856.56190000002 0.9322033898305084 748.54
2022-05-03 IWM TNA
16.634799999999416 79436.01770000001 0.8715596330275229 748.54
2022-05-04 IWM TNA
10.193400000000167 75597.96729999999 0.8846153846153846 748.54
2022-05-05 IWM TNA
13.669899999997938 73489.94079999998 0.8217821782178217 750.2552000000001
2022-05-06 IWM TNA
22.602399999998227 75002.70179999998 0.9805825242718447 741.49
2022-05-09 IWM TNA
21.68720000000212 92069.55020000001 0.9318181818181818 708.22
2022-05-10 IWM TNA
19.71639999999934 83345.14319999996 0.8852459016393442 696.88
2022-05-11 IWM TNA
19.69979999999896 84647.44150000002 0.8467741935483871 693.26
2022-05-12 IWM TNA
28.017600000001153 96557.7554 0.8513513513513513 670.44
2022-05-13 IWM TNA
14.344000000000165 87229.148 0.8359375 692.8656
2022-05-16 IWM TNA
13.452800000001218 70338.55720000002 0.8627450980392157 699.3699999999999
2022-05-17 IWM TNA
13.92600000000067 76906.62839999997 0.8899082568807339 710.4549999999999
2022-05-18 IWM TNA
12.533000000000925 83851.96290000003 0.9327731092436975 714.9200000000001
2022-05-19 IWM TNA
17.327999999999918 68530.07920000001 0.8118811881188119 693.2403999999999
2022-05-20 IWM TNA
13.218999999998687 72580.90710000001 0.9150943396226415 698.11
2022-05-23 IWM TNA
19.126800000000003 84090.28380000005 0.9262295081967213 694.5899999999999
2022-05-24 IWM TNA
14.487600000000157 68592.43199999999 0.9019607843137255 685.37
2022-05-25 IWM TNA
11.53180000000026 77089.5449 0.8761061946902655 694.1399999999999
2022-05-26 IWM TNA
17.626600000001304 98493.79069999995 0.9424460431654677 717.2700000000001
2022-05-27 IWM TNA
13.753200000000561 90356.18140000004 0.9274193548387096 737.93
2022-05-31 IWM TNA
13.816799999999887 92606.23899999999 0.9365079365079365 742.53

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

0.022771621898781486

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "IJH"
levtick = "MIDU"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 IJH MIDU
7.647800000000075 9732.049900000002 1.0 985.4079
2022-05-03 IJH MIDU
9.26540000000034 14810.432400000002 0.9333333333333333 997.91
2022-05-04 IJH MIDU
1.8279999999998608 1999.9830000000002 1.0 1001.86
2022-05-05 IJH MIDU
9.85280000000023 12954.881900000002 1.0 1018.3370000000001
2022-05-06 IJH MIDU
20.209500000000503 20116.8265 0.9047619047619048 972.0899999999999
2022-05-09 IJH MIDU
18.103800000000376 20648.021099999994 0.9090909090909091 961.92
2022-05-10 IJH MIDU
18.22440000000006 14107.804400000003 1.0 965.3580000000001
2022-05-11 IJH MIDU
3.1211999999999875 7613.946199999999 0.875 963.8706
2022-05-12 IJH MIDU
22.13160000000022 14754.855599999999 1.0 940.89
2022-05-13 IJH MIDU
9.901699999999494 15144.220600000002 0.875 966.3599999999999
2022-05-16 IJH MIDU
0.9099999999998545 2856.76 0.3333333333333333 966.87
2022-05-17 IJH MIDU
5.072900000000232 9482.2739 0.9 950.809
2022-05-18 IJH MIDU
5.491999999999962 9447.4835 1.0 948.1500000000001
2022-05-19 IJH MIDU
10.39859999999993 10348.8984 0.9090909090909091 947.1
2022-05-20 IJH MIDU
3.772199999999941 8483.8146 0.7777777777777778 960.87
2022-05-23 IJH MIDU
10.431000000000154 11444.3145 0.9166666666666666 960.78
2022-05-24 IJH MIDU
4.539599999999837 5583.1614 1.0 942.09
2022-05-25 IJH MIDU
2.18520000000035 2858.1519 0.6666666666666666 959.8257
2022-05-26 IJH MIDU
6.403399999999806 8549.3783 0.7777777777777778 955.4243
2022-05-27 IJH MIDU
5.079300000000899 17571.8712 0.8888888888888888 981.6946
2022-05-31 IJH MIDU
13.255599999999617 18538.659799999994 1.0 983.94

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

0.009238151267814198

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "SPHB"
levtick = "HIBL"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 SPHB HIBL
9.683800000000048 8325.7662 0.8529411764705882 247.69
2022-05-03 SPHB HIBL
3.96610000000004 5280.6776 0.8095238095238095 254.015
2022-05-04 SPHB HIBL
1.838400000000064 3769.9724000000006 0.7333333333333333 253.8514
2022-05-05 SPHB HIBL
5.2236000000002605 11941.939499999999 0.7446808510638298 261.455
2022-05-06 SPHB HIBL
18.05640000000011 11395.4012 0.9148936170212766 247.23
2022-05-09 SPHB HIBL
11.523599999999988 12246.3314 0.8490566037735849 236.9
2022-05-10 SPHB HIBL
12.553499999999644 8165.7795000000015 0.8055555555555556 232.5
2022-05-11 SPHB HIBL
16.427299999999775 10467.775599999999 0.782608695652174 230.44
2022-05-12 SPHB HIBL
10.67659999999998 8486.4839 0.8918918918918919 249.23000000000002
2022-05-13 SPHB HIBL
8.939600000000041 9418.049400000002 0.8780487804878049 231.8318
2022-05-16 SPHB HIBL
4.923000000000286 6181.132499999998 0.7777777777777778 232.06000000000003
2022-05-17 SPHB HIBL
5.218800000000215 6765.2842 0.8275862068965517 236.36
2022-05-18 SPHB HIBL
4.106200000000115 6058.1041 0.7692307692307693 234.91000000000003
2022-05-19 SPHB HIBL
9.981000000000193 9250.629499999997 0.8292682926829268 230.38
2022-05-20 SPHB HIBL
2.6164000000001977 4695.880700000001 0.7619047619047619 229.88000000000002
2022-05-23 SPHB HIBL
3.6783000000000925 5618.923699999999 0.6 227.63
2022-05-24 SPHB HIBL
4.81880000000001 6478.3964000000005 0.8148148148148148 249.40999999999997
2022-05-25 SPHB HIBL
5.420399999999944 4259.1209 0.8947368421052632 249.26
2022-05-26 SPHB HIBL
3.8915999999997553 6732.068 0.7241379310344828 234.4647
2022-05-27 SPHB HIBL
4.949799999999925 8758.839899999999 0.7777777777777778 245.25
2022-05-31 SPHB HIBL
5.599999999999994 5369.686799999999 0.8636363636363636 246.93

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

3.0443106622805978

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "IJH"
levtick = "UMDD"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 IJH UMDD
7.800200000000018 9844.1905 0.9 994.54
2022-05-03 IJH UMDD
3.161999999999807 5951.752 0.6666666666666666 1002.54
2022-05-04 IJH UMDD
-0.2099999999999227 998.17 0.0 998.17
2022-05-05 IJH UMDD
2.3440000000001646 5005.402 0.8 1020.2800000000001
2022-05-06 IJH UMDD
7.112999999999943 6848.967500000001 1.0 987.9596999999999
2022-05-09 IJH UMDD
7.5622000000000185 8544.057 1.0 960.5581999999999
2022-05-10 IJH UMDD
10.015599999999836 6576.0177 1.0 943.2733000000001
2022-05-11 IJH UMDD
2.997799999999984 4741.5089 0.8 952.1288999999999
2022-05-12 IJH UMDD
6.610799999999983 6518.7234 0.7142857142857143 945.1199999999999
2022-05-13 IJH UMDD
2.929199999999639 6686.4946 0.8571428571428571 960.4499999999999
2022-05-16 IJH UMDD
0.6037000000002877 2849.2474 0.6666666666666666 953.7978999999999
2022-05-17 IJH UMDD
5.6165999999999485 4851.8533 0.8 973.74
2022-05-18 IJH UMDD
6.557799999999247 9632.796100000001 0.9 965.9599999999999
2022-05-19 IJH UMDD
3.9059999999997785 6638.5872 0.8571428571428571 960.8999999999999
2022-05-20 IJH UMDD
5.599799999999618 8451.4521 0.8888888888888888 961.41
2022-05-23 IJH UMDD
3.369600000000446 4776.9741 0.8 960.3
2022-05-24 IJH UMDD
1.294800000000123 3716.8860000000004 1.0 936.84
2022-05-25 IJH UMDD
3.481800000000021 2864.0022 1.0 960.5699999999999
2022-05-26 IJH UMDD
6.47760000000045 13657.3157 0.9285714285714286 980.1985000000001
2022-05-27 IJH UMDD
4.561899999999923 12001.2183 1.0 1002.99
2022-05-31 IJH UMDD
7.1681000000002655 11984.836 0.8333333333333334 1004.27

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

0.4844928863078949

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "IWM"
levtick = "URTY"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 IWM URTY
40.76519999999914 51232.035 0.9577464788732394 732.1146
2022-05-03 IWM URTY
28.932600000000548 45339.26489999999 0.9193548387096774 738.6942
2022-05-04 IWM URTY
19.324199999999678 41629.00470000001 1.0 743.22
2022-05-05 IWM URTY
28.533600000000547 55639.224 0.9736842105263158 757.47
2022-05-06 IWM URTY
42.240600000000484 55151.042400000006 0.9358974358974359 724.1099999999999
2022-05-09 IWM URTY
33.88260000000014 64929.45659999998 0.9166666666666666 691.1700000000001
2022-05-10 IWM URTY
32.01360000000045 53806.45680000001 0.8271604938271605 690.0400000000001
2022-05-11 IWM URTY
39.300600000000145 52034.561100000006 0.9230769230769231 676.2600000000001
2022-05-12 IWM URTY
34.43019999999973 49696.20809999999 0.972972972972973 690.38
2022-05-13 IWM URTY
24.42840000000075 57033.14399999999 0.9294117647058824 676.47
2022-05-16 IWM URTY
30.12659999999937 47178.480599999995 0.9285714285714286 682.65
2022-05-17 IWM URTY
24.10439999999886 53007.143399999986 0.935064935064935 693.5400000000001
2022-05-18 IWM URTY
22.660200000001055 45910.7847 0.9402985074626866 694.35
2022-05-19 IWM URTY
34.23179999999974 49201.701899999985 0.918918918918919 676.47
2022-05-20 IWM URTY
13.120599999999342 44556.13630000001 0.835820895522388 694.55
2022-05-23 IWM URTY
19.70009999999934 47647.81590000001 0.8028169014084507 677.9999999999999
2022-05-24 IWM URTY
30.270799999999895 54205.926999999996 0.95 695.164
2022-05-25 IWM URTY
19.98300000000006 44880.9267 0.9402985074626866 677.79
2022-05-26 IWM URTY
16.333800000000622 56326.993500000004 0.9382716049382716 699.99
2022-05-27 IWM URTY
17.903100000001416 49816.73219999999 0.9571428571428572 718.8750000000001
2022-05-31 IWM URTY
20.843999999999653 63684.99720000001 0.9213483146067416 723.6899999999999

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

3.884310982411673

In [ ]:
netprophets = []
netexposures = []
winrates = []
maxcapitals = []
blaghs = []
tick = "DIA"
levtick = "UDOW"
for i in range(1, 32):
  date = "2022-05-"+str(i)
  if(i < 10):
    date = "2022-05-0"+str(i)
  #print(i, date, tick, levtick)
  
  if(blaghify(date, tick, levtick) is not -1):

    print(date, tick, levtick)
    netprophet, netexposure, winr, maxcapital = run_strategy(date, tick, levtick)
    print(netprophet, netexposure, winr, maxcapital)

    if(sum([netprophet, netexposure, winr, maxcapital]) != -4):

      netprophets.append(netprophet)
      netexposures.append(netexposure)
      winrates.append(winr)
      maxcapitals.append(maxcapital)

2022-05-02 DIA UDOW
20.041800000000308 111627.94179999997 0.9069767441860465 1311.0296
2022-05-03 DIA UDOW
11.538100000001009 94119.37320000002 0.9444444444444444 1317.6100000000001
2022-05-04 DIA UDOW
12.737799999999538 104590.56209999998 0.9625 1314.9499999999998
2022-05-05 DIA UDOW
12.477200000000721 110970.44660000001 0.9761904761904762 1352.46
2022-05-06 DIA UDOW
15.881600000000503 96257.62720000002 0.8933333333333333 1298.57
2022-05-09 DIA UDOW
19.16259999999977 108857.32750000001 0.872093023255814 1275.43
2022-05-10 DIA UDOW
13.292599999999538 117296.56129999996 0.8064516129032258 1282.3600000000001
2022-05-11 DIA UDOW
35.204199999999105 125915.70289999997 0.86 1273.71
2022-05-12 DIA UDOW
19.234000000001174 118685.20560000004 0.8144329896907216 1235.7200000000003
2022-05-13 DIA UDOW
16.312399999998206 112338.67319999995 0.8888888888888888 1254.96
2022-05-16 DIA UDOW
12.300800000001118 99813.58960000008 0.8375 1256.3600000000001
2022-05-17 DIA UDOW
18.957200000000512 94001.69660000001 0.9459459459459459 1280.2
2022-05-18 DIA UDOW
12.90459999999905 98686.10870000001 0.9113924050632911 1273.29
2022-05-19 DIA UDOW
23.822900000002846 109078.13039999997 0.9431818181818182 1252.98
2022-05-20 DIA UDOW
12.804399999999532 98834.6138 0.8765432098765432 1248.21
2022-05-23 DIA UDOW
18.52160000000231 116125.42499999996 0.9052631578947369 1236.92
2022-05-24 DIA UDOW
16.306399999999485 84980.21779999995 0.9 1225.1995
2022-05-25 DIA UDOW
19.55239999999924 105248.56030000003 0.8941176470588236 1247.81
2022-05-26 DIA UDOW
13.130399999997849 125600.5542 0.9191919191919192 1275.3049999999998
2022-05-27 DIA UDOW
12.749199999998837 112040.6556 0.9540229885057471 1296.12
2022-05-31 DIA UDOW
21.63540000000205 126791.80889999996 0.9591836734693877 1303.7605

In [ ]:
100*sum(netprophets)/sum(maxcapitals)

1.3372923847788212

In [ ]:
d1 = api.get_quotes("SPY", "2022-05-03", "2022-05-03", limit=10000).df

In [ ]:
d1.head()

,ask_exchange,ask_price,ask_size,bid_exchange,bid_price,bid_size,conditions,tape
timestamp,,,,,,,,
2022-05-03 08:00:00.000285+00:00,P,415.8,7,K,415.65,5,[R],B
2022-05-03 08:00:00.012588115+00:00,T,0.0,0,T,409.07,3,[R],B
2022-05-03 08:00:00.012929364+00:00,T,0.0,0,T,409.07,4,[R],B
2022-05-03 08:00:00.028141056+00:00,P,600.0,1,T,409.07,4,[R],B
2022-05-03 08:00:00.028179200+00:00,P,415.8,1,T,409.07,4,[R],B

In [ ]:
d2 = api.get_quotes("UPRO", "2022-05-03", "2022-05-03", limit=10000).df

In [ ]:
d2.head()

,ask_exchange,ask_price,ask_size,bid_exchange,bid_price,bid_size,conditions,tape
timestamp,,,,,,,,
2022-05-03 08:00:00.005471744+00:00,P,54.09,2,P,0.00,0,[R],B
2022-05-03 08:00:00.005472256+00:00,P,54.09,2,P,32.89,2,[R],B
2022-05-03 08:00:00.005533952+00:00,P,54.09,2,P,45.03,4,[R],B
2022-05-03 08:00:00.005538048+00:00,P,51.90,1,P,45.03,4,[R],B
2022-05-03 08:00:00.005538560+00:00,P,51.90,1,P,47.96,2,[R],B